<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <!-- header section -->
    <header>
        <!-- business logo -->
        <logo>

        </logo>
        <!-- navigation links -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/service">Our Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <!-- end of header section -->
    <!-- main section -->
    <main>

    </main>
    <!-- end of main section -->
    <!-- client section -->
    <section>

    </section>
    <!-- end of client section -->
    <!-- help business section -->
    <section>

    </section>
    <!-- help business section -->
     <!-- great digital product agency section -->
     <section>

     </section>
     <!-- end of great digital product agency section  -->
     <!-- happy client feedback section -->
     <section>

     </section>
     <!-- end of happy client feedback section -->
     <!-- footer section -->
     <footer>

     </footer>
     <!-- end of footer section -->
  
</body>
</html>
