<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <!-- header section -->
    <header>
        <!-- business logo -->
        <logo>
            A+ Studio
        </logo>
        <!-- navigation links -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/service">Our Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <!-- end of header section -->
    <!-- main section -->
    <main>
        <!-- business website title -->
        <h1>A Digital Product Agency</h1>
        <!-- business description-->
        <p>Leading digital agency with solid design and development expertise. We build readymade websites, mobile applications, and elaborate online business services.</p>
        <!-- cta contact button -->
        <div>
            <button>Contact Now</button>
        </div>
        <!-- end of cta contact button -->
        <!-- customer demo image -->
        <div>
            <img src="/images/customer-demo.png" alt="customer-demo">
        </div>
        <!-- end of customer demo image -->
    </main>
    <!-- end of main section -->
    <!-- client section -->
    <section>
        <!-- client title and selected clients text -->
        <div>
            <!-- client section title -->
        <h2>Our Client</h2>
        <!-- selected clients -->
        <p>Several selected clients, who already believe in our service.</p>
        <!-- selected clients logos -->
        </div>
        <!-- end of client title and selected clients text --> 
        
        <!-- clients logos -->
        
          <div>
            <div><img src="/images/GoogleLogo.png" alt="Google logo"></div>
              <div><img src="/images/AirbnbLogo.png" alt="Airbnb Logo"></div>
              <div><img src="/images/UberEatsLogo.png" alt="Uber Eats Logo"></div>
              <div><img src="/images/AmazonLogo.png" alt="Amazon Logo"></div>
          </div>
        
        <!-- end of selected clients logos -->
    </section>
    <!-- end of client section -->
    <!-- help business section -->
    <section>

    </section>
    <!-- help business section -->
     <!-- great digital product agency section -->
     <section>

     </section>
     <!-- end of great digital product agency section  -->
     <!-- happy client feedback section -->
     <section>

     </section>
     <!-- end of happy client feedback section -->
     <!-- footer section -->
     <footer>

     </footer>
     <!-- end of footer section -->
  
</body>
</html>
