<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <!-- header section -->
    <header>
        <!-- business logo -->
        <logo>
            A+ Studio
        </logo>
        <!-- navigation links -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/service">Our Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <!-- end of header section -->
    <!-- main section -->
    <main>
        <!-- business website title -->
        <h1>A Digital Product Agency</h1>
        <!-- business description-->
        <p>Leading digital agency with solid design and development expertise. We build readymade websites, mobile applications, and elaborate online business services.</p>
        <!-- cta contact button -->
        <div>
            <button>Contact Now</button>
        </div>
        <!-- end of cta contact button -->
        <!-- customer demo image -->
        <div>
            <img src="/images/customer-demo.png" alt="customer-demo">
        </div>
        <!-- end of customer demo image -->
    </main>
    <!-- end of main section -->
    <!-- client section -->
    <section>
        <!-- client title and selected clients text -->
        <div>
            <!-- client section title -->
        <h2>Our Client</h2>
        <!-- selected clients -->
        <p>Several selected clients, who already believe in our service.</p>
        <!-- selected clients logos -->
        </div>
        <!-- end of client title and selected clients text --> 

        <!-- clients logos -->
        
          <div>
            <div><img src="/images/google-logo.png" alt="Google logo"></div>
              <div><img src="/images/airbnb-logo.png" alt="Airbnb Logo"></div>
              <div><img src="/images/uber-eats-logo.png" alt="Uber Eats Logo"></div>
              <div><img src="/images/amazon-logo.png" alt="Amazon Logo"></div>
          </div>
        
        <!-- end of selected clients logos -->
    </section>
    <!-- end of client section -->
     <!-- business activity -->
     <section>
        <!-- agency business activity image -->
        <div>
            <img src="images/agency-business-activity.png" alt="agency activity image">
        </div>
          <!-- end of agency business activity image -->
          <!-- business plan -->
          <div>
            <!-- quarter rectangle -->
            <img src="" alt="">
            <!-- business overview -->
            <h3>Great Digital Product Agency since 2016 </h3>
            <!-- business plan -->
            <p>Our Business Plan is a written document describing a company's core business activites, Objectives, and how it plans to achieve its goals. Our goal is to provide our client high quality Product with modern idea accordingly their budgets and according thir reuirements.</p>
        </div>
        <!-- end of business plan -->

     </section>
     <!-- end of business activity  -->
     <!-- happy client feedback section -->
     <section>
        <!-- happy clients introduction -->
        <div>
            <!-- happy clients title -->
        <h2>What our happy client say</h2>
      
        <p>Several selected clients, who already believe in our service.</p>

        </div>
        <!-- end of happy clients introduction -->
        <!-- happy clients -->
        <div>
            <!-- matthew paul -->
            <div>
                <img src="images/mathew-paul.png" alt="Matthew Paul">
                <!-- testimonial -->
                <p>Matthew Paul
                    Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high quality and quick turnaround time. Highly recommend.</p>
            </div>
            <!-- end of matthew paul -->
            <!-- happy clients images -->
            <div>
                <img src="images/happy-clients.png" alt="Happy Clients">
            </div>
            <!-- end of happy clients images -->
           
        </div>
        <!-- end of happy clients -->
        

     </section>
     <!-- end of happy client feedback section -->
     <!-- footer section -->
     <footer>

     </footer>
     <!-- end of footer section -->
  
</body>
</html>
